# React
node_modules/
dist/

# Laravel
paramedic-api/vendor/
paramedic-api/.env
paramedic-api/.env.*
paramedic-api/storage/*.key
paramedic-api/storage/framework/*
paramedic-api/storage/logs

# Storage & cache
/storage/*.key
/storage/framework/*
/storage/logs

# System
.DS_Store
Thumbs.db
.idea/
.vscode/
